<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Fritz.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Fritz.Properties.Settings>
            <setting name="Last_COM_PORT" serializeAs="String">
                <value />
            </setting>
            <setting name="Joystick_X_Axis" serializeAs="String">
                <value />
            </setting>
            <setting name="Joystick_Y_Axis" serializeAs="String">
                <value />
            </setting>
            <setting name="Joystick_Twist" serializeAs="String">
                <value />
            </setting>
            <setting name="Joystick_Rudder" serializeAs="String">
                <value />
            </setting>
            <setting name="Joystick_Rotation" serializeAs="String">
                <value />
            </setting>
            <setting name="Joystick_Throttle" serializeAs="String">
                <value />
            </setting>
            <setting name="Joystick_button_0" serializeAs="String">
                <value />
            </setting>
            <setting name="Joystick_button_1" serializeAs="String">
                <value />
            </setting>
            <setting name="Joystick_button_2" serializeAs="String">
                <value />
            </setting>
            <setting name="Joystick_button_3" serializeAs="String">
                <value />
            </setting>
            <setting name="Joystick_button_4" serializeAs="String">
                <value />
            </setting>
            <setting name="Joystick_button_5" serializeAs="String">
                <value />
            </setting>
            <setting name="Joystick_button_6" serializeAs="String">
                <value />
            </setting>
            <setting name="Joystick_button_7" serializeAs="String">
                <value />
            </setting>
            <setting name="Joystick_button_8" serializeAs="String">
                <value />
            </setting>
            <setting name="Joystick_button_9" serializeAs="String">
                <value />
            </setting>
            <setting name="Joystick_button_10" serializeAs="String">
                <value />
            </setting>
            <setting name="Joystick_button_11" serializeAs="String">
                <value />
            </setting>
            <setting name="Joystick_button_12" serializeAs="String">
                <value />
            </setting>
            <setting name="Joystick_X_Axis_Invert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Joystick_Y_Axis_Invert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Joystick_Twist_Invert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Joystick_Rudder_Invert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Joystick_Rotation_Invert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Joystick_Throttle_Invert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Joystick_button_0_Revert" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Joystick_button_1_Revert" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Joystick_button_2_Revert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Joystick_button_3_Revert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Joystick_button_4_Revert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Joystick_button_5_Revert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Joystick_button_6_Revert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Joystick_button_7_Revert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Joystick_button_8_Revert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Joystick_button_9_Revert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Joystick_button_10_Revert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Joystick_button_11_Revert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Joystick_button_12_Revert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Keyboard_Key_1" serializeAs="String">
                <value />
            </setting>
            <setting name="Keyboard_Key_2" serializeAs="String">
                <value />
            </setting>
            <setting name="Keyboard_Key_3" serializeAs="String">
                <value />
            </setting>
            <setting name="Keyboard_Key_4" serializeAs="String">
                <value />
            </setting>
            <setting name="Keyboard_Key_5" serializeAs="String">
                <value />
            </setting>
            <setting name="Keyboard_Key_6" serializeAs="String">
                <value />
            </setting>
            <setting name="Keyboard_Key_7" serializeAs="String">
                <value />
            </setting>
            <setting name="Keyboard_Key_8" serializeAs="String">
                <value />
            </setting>
            <setting name="Keyboard_Key_9" serializeAs="String">
                <value />
            </setting>
            <setting name="Keyboard_Key_10" serializeAs="String">
                <value />
            </setting>
            <setting name="Keyboard_Key_11" serializeAs="String">
                <value />
            </setting>
            <setting name="Keyboard_Key_12" serializeAs="String">
                <value />
            </setting>
            <setting name="Keyboard_Key_13" serializeAs="String">
                <value />
            </setting>
            <setting name="Keyboard_Key_14" serializeAs="String">
                <value />
            </setting>
            <setting name="Keyboard_Key_15" serializeAs="String">
                <value />
            </setting>
            <setting name="Keyboard_Revert_1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Keyboard_Modifiers_1" serializeAs="String">
                <value>131072</value>
            </setting>
            <setting name="Keyboard_Action_1" serializeAs="String">
                <value />
            </setting>
            <setting name="Keyboard_Revert_2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Keyboard_Revert_3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Keyboard_Revert_4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Keyboard_Revert_5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Keyboard_Revert_6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Keyboard_Revert_7" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Keyboard_Revert_8" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Keyboard_Revert_9" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Keyboard_Revert_10" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Keyboard_Revert_11" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Keyboard_Revert_12" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Keyboard_Revert_13" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Keyboard_Revert_14" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Keyboard_Revert_15" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Keyboard_Modifiers_2" serializeAs="String">
                <value>131072</value>
            </setting>
            <setting name="Keyboard_Modifiers_3" serializeAs="String">
                <value>131072</value>
            </setting>
            <setting name="Keyboard_Modifiers_4" serializeAs="String">
                <value>131072</value>
            </setting>
            <setting name="Keyboard_Modifiers_5" serializeAs="String">
                <value>131072</value>
            </setting>
            <setting name="Keyboard_Modifiers_6" serializeAs="String">
                <value>262144</value>
            </setting>
            <setting name="Keyboard_Modifiers_7" serializeAs="String">
                <value>262144</value>
            </setting>
            <setting name="Keyboard_Modifiers_8" serializeAs="String">
                <value>262144</value>
            </setting>
            <setting name="Keyboard_Modifiers_9" serializeAs="String">
                <value>262144</value>
            </setting>
            <setting name="Keyboard_Modifiers_10" serializeAs="String">
                <value>327680</value>
            </setting>
            <setting name="Keyboard_Modifiers_11" serializeAs="String">
                <value>327680</value>
            </setting>
            <setting name="Keyboard_Modifiers_12" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Keyboard_Modifiers_13" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Keyboard_Modifiers_14" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Keyboard_Modifiers_15" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Keyboard_Action_2" serializeAs="String">
                <value />
            </setting>
            <setting name="Keyboard_Action_3" serializeAs="String">
                <value />
            </setting>
            <setting name="Keyboard_Action_4" serializeAs="String">
                <value />
            </setting>
            <setting name="Keyboard_Action_5" serializeAs="String">
                <value />
            </setting>
            <setting name="Keyboard_Action_6" serializeAs="String">
                <value />
            </setting>
            <setting name="Keyboard_Action_7" serializeAs="String">
                <value />
            </setting>
            <setting name="Keyboard_Action_8" serializeAs="String">
                <value />
            </setting>
            <setting name="Keyboard_Action_9" serializeAs="String">
                <value />
            </setting>
            <setting name="Keyboard_Action_10" serializeAs="String">
                <value />
            </setting>
            <setting name="Keyboard_Action_11" serializeAs="String">
                <value />
            </setting>
            <setting name="Keyboard_Action_12" serializeAs="String">
                <value />
            </setting>
            <setting name="Keyboard_Action_13" serializeAs="String">
                <value />
            </setting>
            <setting name="Keyboard_Action_14" serializeAs="String">
                <value />
            </setting>
            <setting name="Keyboard_Action_15" serializeAs="String">
                <value />
            </setting>
            <setting name="Trigger_Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Trigger_Check_Sonar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Trigger_Check_IR" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Trigger_Distance" serializeAs="String">
                <value>60</value>
            </setting>
        </Fritz.Properties.Settings>
    </userSettings>
</configuration>